<div class="container-fluid" style="margin-top: 7rem">
  <div class="container d-flex justify-content-center">
    <div>
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <!-- <label for="email">Email:</label> -->
      <input
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="email"
      /><br />
      <!-- <label for="password">Password: </label> -->
      <label for="Password" class="col-sm-2 col-form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        [(ngModel)]="password"
      /><br />
      <input type="submit" (click)="submit()" />
    </div>
  </div>
</div>

<!-- <div class="mb-3 row">
  <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
  <div class="col-sm-10">
    <input
      type="text"
      readonly
      class="form-control-plaintext"
      id="staticEmail"
      value="email@example.com"
    />
  </div>
</div>
<div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
  <div class="col-sm-10">
    <input type="password" class="form-control" id="inputPassword" />
  </div>
</div> -->
