<!-- <div class="container-fluid">
  <div class="container d-flex justify-content-center" style="margin-top: 70px">
    <div style="font-size: 35px; font-weight: bold">Dive into our Blogs</div>
  </div>
</div>

<div class="continer-fluid mt-5">
  <div class="container" style="margin-top: 70px">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/image/finance-financial-performance-concept-illustration_53876-43398 (1).webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Finance</h5>
            <p class="card-text">
              Money management is something everyone is concerned with, from the
              adolescent working to get their first credit card to the
              entrepreneur wanting to exponentially grow their personal savings.
            </p>
            <a href="#">Read more</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/image/business-people-shaking-hands-together_53876-13391.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Business</h5>
            <p class="card-text">
              Whether your audience wants to learn how to run a business or
              simply advance in their career, they will always turn to
              specialized business blogs for advice.
            </p>
            <a href="#">Read more</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/image/sales-marketing-759x500-1.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Sales</h5>
            <p class="card-text">
              There are many professionals across many industries who’d be
              interested in learning how to level up their sales skills, such as
              sales managers, sales reps and small business owners.
            </p>
            <a href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/image/gradient-ui-ux-background_23-2149052117.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Design and Development</h5>
            <p class="card-text">
              Having a website is essential in today’s world. With so many
              people looking to create a strong online presence, it’s no wonder
              that they’ll need equally powerful content to guide them on how to
              design their own compelling website.
            </p>
            <a href="#">Read more</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/image/Modren-Tech.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Technology</h5>
            <p class="card-text">
              Technology is transforming every inch of our lives. As such, it’s
              an overarching topic that could just as well cater to a business
              audience as a consumer one.
            </p>
            <a href="#">Read more</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/image/_c34102da-9849-11e5-b4f4-1b7a09ed2cea.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">
              Education is a good topic to get into if you want a future-proof
              blog. Whether your blog serves as an academic resource or points
              your readers to relevant institutions and programs, there are
              numerous ways in which you can narrow down your focus.
            </p>
            <a href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/image/images.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Entertainment</h5>
            <p class="card-text">
              Traditionally a section within larger news publications,
              entertainment-focused sites have been rapidly growing with the
              popularization of social media.
            </p>
            <a href="#">Read more</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/image/food-drink-menu-background-260nw-216406453.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Food and Drink</h5>
            <p class="card-text">
              f you have a strong culinary background or a passion for baking,
              it makes sense that you want to start a food blog. Rather than
              trying to write about every single dish or drink you’ve ever
              tried...
            </p>
            <a href="#">Read more</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/image/health-fitness-icons-symbols-set-vector-illustrations-34573498.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Health and Fitness</h5>
            <p class="card-text">
              As people become more mindful about their physical and mental
              well-being, they’re starving for content that teaches them a
              better way to live and manage their emotions.
            </p>
            <a href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="container d-flex justify-content-center" style="margin-top: 70px">
    <div style="font-size: 35px; font-weight: bold">Dive into our Blogs</div>
  </div>
</div>

<div class="continer-fluid mt-5">
  <div class="container" style="margin-top: 70px">
    <div class="row">
      <div class="col" *ngFor="let blog of blogs">
        <div class="card" style="width: 18rem">
          <img [src]="blog.imageUrl" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text">
              {{ blog.description }}
            </p>
            <div class="container">
              <div class="row">
                <div class="col"><i class="bi bi-heart"></i></div>
                <div class="col"><i class="bi bi-chat"></i></div>
                <div class="col"><i class="bi bi-share"></i></div>
                <div class="col">
                  <i class="bi bi-trash" (click)="deleteBlog(blog)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
